body {
    background-color: #eeb3ce;
}
img {
    width: 300px;
    height: 300px;
}
.row{
    background-color: #cbe6e7;
    margin-top: 50px;
}
h1,h2{
  text-align: center;
  text-transform: uppercase;
}